name: CI

on:
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: esphome/build-action@v1.0.1
        with:
          yaml_file: tagreader.yaml
